{% extends 'base.html' %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}

    <table class="table table-stripped">
        <tr>
            <th>Tytuł</th>
            <td>{{ book.title|title }}</td>

        </tr>
        <tr>
            <th>Slug</th>
            <td>{{ book.slug }}</td>
        </tr>
        <tr>
            <th>Autor</th>
            <td>{{ book.author|title }}</td>
        </tr>
        <tr>
            <th>Opis</th>
            <td>{{ book.description|truncatewords:50 }}</td>
        </tr>
        <tr>
            <th>Rok wadania</th>
            <td>{{ book.year }}</td>
        </tr>
        <tr>
            <th>Ilość stron</th>
            <td>{{ book.pages }}</td>
        </tr>

    </table>


{% endblock %}